{% extends "metacortex/syllabus_add/select_module.html" %}

{% load i18n syllabus %}

{% block page_title %} {% trans "Adding syllabuses" %} {% endblock %}

{% block breadcrumb %}
    {{ block.super }} 
    &raquo; <a href="{% url apps.metacortex.views.syllabus_add.select_subject course_id=course.id speciality_id=speciality.id module_id=module.id %}">{% trans "Choosing subject" %}</a>
{% endblock %}

{% block content %}
	<h1>{% trans "Adding syllabus" %}</h1>
	<h2>{% trans "Choosing subject" %}</h2>

	<table class="table_0 no_border no_cell_borders bold_labels">
		<tbody>
			<tr>
				<td class="label">{% trans "Course" %}:</td>
				<td class="item">{{ course.get_name_with_current_year }}</td>
			</tr>
			<tr>
    			<td class="label">{% trans "Speciality" %}:</td>
				<td class="item">{{ speciality.name|title }}</td>
    		</tr>
    		<tr>
    			<td class="label">{% trans "Module" %}:</td>
				<td class="item">{{ module|title }}</td>
    		</tr>		
		</tbody>
	</table>
	<div class="spacer_5"></div>

    <div id="s_show">
    	
        <table class="table_0">
        	<thead>
        		<tr>
        			<td class="left">{% trans "Module" %}</td>
        			<td>{% trans "Add syllabus" %}</td>
        		</tr>
        	</thead>
        	<tbody>
        		<tr>
        			<td class="left">{{ module }}</td>
        			<td class="add_module_syllabus">
                    	{% if module.syllabusmodule.coordinator %}
                    		<p>{% trans "Syllabus has been assigned to" %}:</p>
                    		<p>{{ module.syllabusmodule.coordinator }}</p>
                    	{% else %}
                    		<a class="link_0 link_add" href="{% url apps.metacortex.views.syllabus_add.add_module_syllabus course_id=course.id speciality_id=speciality.id module_id=module.id %}">{% trans "Add module syllabus" %}</a>
                    	{% endif %}
                    </td>
        		</tr>
        	</tbody>
        </table>
        <div class="spacer_5"></div>
        
        {% if subjects %}
            <table class="table_0">
                <thead>
                    <tr>
                        <td class="left">{% trans "Subject" %}</td>
	                    <td class="column">{% trans "Year/Semester" %}</td>
                        <td class="add_module_syllabus">{% trans "Add syllabus" %}</td>
                    </tr>
                </thead>
                <tbody>
                    {% for subject in subjects %}
                        <tr>
                            <td class="left">{{ subject }}</td>
                            <td class="column">
	                            {% if subject.is_annual %}
	                            	{{ subject.semester }}/-
	                            {% else %}
		                            {{ subject.get_year_semester.0|to_roman }}/{{ subject.semester }}
		                       	{% endif %}
	                       	</td>
                            <td class="add_module_syllabus">
                                {% if subject.type.id == 14 %}
                                    <a class="link_0 link_add" href="{% url apps.metacortex.views.syllabus_add.add_practice course_id=course.id speciality_id=speciality.id module_id=module.id subject_id=subject.id %}">{% trans "Add practice syllabus" %}</a>
                                {% else %}
                                    <a class="link_0 link_add" href="{% url apps.metacortex.views.syllabus_add.add_subject_syllabus course_id=course.id speciality_id=speciality.id module_id=module.id subject_id=subject.id %}">{% trans "Add subject syllabus" %}</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <ul class="infolist">
                <li>{% trans "List of subjects for selected module is empty" %}.</li>
            </ul>
        {% endif %}
    </div>
{% endblock %}