{% extends "metacortex/syllabus_add/select_course.html" %}

{% load i18n %}

{% block page_title %} {% trans "Adding syllabuses" %} {% endblock %}

{% block breadcrumb %}
    {{ block.super }} 
    &raquo; <a href="{% url apps.metacortex.views.syllabus_add.select_speciality course_id=course.id %}">{% trans "Choosig speciality" %}</a>
{% endblock %}

{% block content %}
	<h1>{% trans "Adding syllabus" %}</h1>
	<h2>{% trans "Choosing speciality" %}</h2>

	<table class="table_0 no_border no_cell_borders bold_labels">
		<tbody>
			<tr>
				<td class="label">{% trans "Course" %}:</td>
				<td>{{ course.get_name_with_current_year }}</td>
			</tr>			
		</tbody>
	</table>
	<div class="spacer_5"></div>

    {% if specialities %}
        <table class="table_0">
            <thead>
                <tr>
                    <td>{% trans "Speciality" %}</td>
                </tr>
            </thead>
            <tbody>
            {% for speciality in specialities %}
                <tr>
                    <td>
                    	<a class="link_preview link_0" href="{% url apps.metacortex.views.syllabus_add.select_module course_id=course.id speciality_id=speciality.id %}">
                            {{ speciality.name|title }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <ul class="errorlist">
            <li>{% trans "List of specialities for selected course is empty" %}</li>
        </ul>
    {% endif %}
{% endblock %}