{% extends "metacortex/syllabus_add/select_speciality.html" %}

{% load i18n %}

{% block page_title %} {% trans "Adding syllabuses" %} {% endblock %}

{% block breadcrumb %}
    {{ block.super }} 
    &raquo; <a href="{% url apps.metacortex.views.syllabus_add.select_module course_id=course.id speciality_id=speciality.id %}">{% trans "Choosing module" %}</a>
{% endblock %}

{% block content %}
	<h1>{% trans "Adding syllabus" %}</h1>
	<h2>{% trans "Choosing module" %}</h2>

    <table class="table_0 no_border no_cell_borders bold_labels">
		<tbody>
			<tr>
				<td class="label">{% trans "Course" %}:</td>
				<td>{{ course.get_name_with_current_year }}</td>
			</tr>
			<tr>
    			<td class="label">{% trans "Speciality" %}:</td>
				<td>{{ speciality.name|title }}</td>
    		</tr>		
		</tbody>
	</table>
	<div class="spacer_5"></div>

    <div id="s_show">
        {% if modules %}
            <table class="table_0">
                <thead>
                    <tr>
                        <td class="left">{% trans "Modules" %}</td>
                    </tr>
                </thead>
                <tbody>
                    {% for module in modules %}
                        <tr>
                            <td class="left">
                            	<a class="link_preview link_0" href="{% url apps.metacortex.views.syllabus_add.select_subject course_id=course.id speciality_id=speciality.id module_id=module.id %}">{{ module }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <ul class="errorlist">
                <li>{% trans "List of modules for selected speciality is empty" %}.</li>
            </ul>
        {% endif %}
    </div>
{% endblock %}