{% extends "metacortex/base.html" %}
{% load i18n pagination %}

{% block page_title %} {% trans "Adding syllabuses" %}{% endblock %}

{% block breadcrumb %}
    {{ block.super }} 
    &raquo; <a href="{% url apps.metacortex.views.syllabus_add.select_course %}">{% trans "Choosing course" %}</a>
{% endblock %}

{% block content %}

	<h1>{% trans "Adding syllabus" %}</h1>
	<h2>{% trans "Choosing course" %}</h2>

	<form id="search" action="" method="post">
		{% csrf_token %}
	    {{ search_form.name }}
	    <button class="button_2" type="submit" name="action" value="search">{% trans "Search" %}</button>
	</form>
	<div class="spacer_10"></div>

    <ul class="infolist">
        <li>{% blocktrans %} Year at the end of each course name denotes year of approval of it's studies plan and not year of adding syllabus. More information in help topic: "<a class="link_0" href="/metacortex/help#course-year">Year in course name</a>". {% endblocktrans %}</li>
    </ul>
	<table class="table_0">
	    <thead>
	        <tr>
	            <td>{% trans "Course" %}</td>
	        </tr>
	    </thead>
	    <tbody>
	        {% for course in courses %}
	            <tr>
	                <td>
                        <a class="link_preview link_0" href="{% url apps.metacortex.views.syllabus_add.select_speciality course_id=course.id%}">
                            {{ course.get_name_with_current_year }}
                        </a>
                    </td>
	            </tr>
	        {% endfor %}
	    </tbody>
	</table>
	<div class="spacer_10"></div>
	
	{% paginator courses %}

{% endblock %}
