{% extends "metacortex/syllabus_my/show.html" %}
{% load syllabus i18n %}

{% block page_title %} {% trans "Copying syllabuses from last year" %} {% endblock %}

{% block breadcrumb %}
    {{ block.super }} 
    &raquo; <a href="{% url apps.metacortex.views.syllabus_my.copy_from_last_year selected_year=selected_year %}">{% trans "Copying syllabuses from last year" %}</a>
{% endblock %}

{% block content %}
	<h1>{% trans "Copying syllabuses from last year" %}</h1>
	
	<table class="table_0 no_border no_cell_borders bold_labels">
		<tbody>
			<tr>
				<td class="label">{% trans "Copying from studies plan for year" %}</td>
				<td>{{ last_year }}</td>
			</tr>
			<tr>
				<td class="label">{% trans "Copying to studies plan for year" %}</td>
				<td>{{ selected_year }}</td>
			</tr>
		</tbody>
	</table>
	<div class="spacer_10"></div>
	
	{% trans "The following list only contains modules, subjects and pracites which" %}:
	<ul class="default">
		<li>{% trans "you have not added a syllabus to in a studied plans you copy to" %},</li>
		<li>{% trans "are present in current and last studies plans" %}.</li>
	</ul>
	<div class="spacer_10"></div>
	<p>{% trans "Click on the name of module, subject or practice to copy it's syllabus from previous year to current year." %}</p>
	<div class="spacer_10"></div>

	
	{% if modules or subjects or practices %}
		{% if modules %}
		    <h2>{% trans "Module syllabuses" %}</h2>
		    <table class="table_0">
		    	<thead>
		    		<tr>
		    			<td>{% trans "Module" %}</td>
		    			<td class="unit">{% trans "Organizational unit" %}</td>
	                    <td class="course">{% trans "Course" %}</td>
	                    <td class="speciality">{% trans "Speciality" %}</td>
		    		</tr>
		    	</thead>
		    	<tbody>
					{% for module in modules %}
						<tr>
							<td><a class="link_0 link_copy" href="{% url apps.metacortex.views.syllabus_my.copy_module_syllabus selected_year=selected_year module_id=module.id %}">{{ module }}</a></td>
							<td>{{ module.get_department }}</td>
							<td>{{ module.get_course.name }}, {{ module.get_course.level.name }}, {{ module.get_course.type }}, {{ module.get_course.profile }}</td>
							<td>{{ module.get_sgroup.name }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	    
	    {% if subjects %}
		    <h2>{% trans "Subject syllabuses" %}</h2>
		    <table class="table_0">
		    	<thead>
		    		<tr>
		    			<td>{% trans "Subject" %}</td>
		    			<td class="semester">{% trans "Year/Semester" %}</td>
		    			<td class="unit">{% trans "Organizational unit" %}</td>
	                    <td class="course">{% trans "Course" %}</td>
	                    <td class="speciality">{% trans "Speciality" %}</td>
		    		</tr>
		    	</thead>
		    	<tbody>
			        {% for subject in subjects %}
				        <tr>
							<td><a class="link_0 link_copy" href="{% url apps.metacortex.views.syllabus_my.copy_subject_syllabus selected_year=selected_year subject_id=subject.id %}">{{ subject }}</a></td>
				        	<td>
			        			{% if ss.subject.is_annual %}
                                	{{ subject.semester }}/-
                                {% else %}
                                	{{ subject.get_year_semester.0|to_roman }}/{{ subject.semester }}
                                {% endif %}
			        		</td>
				        	<td>{{ subject.module.get_department }}</td>
							<td>{{ subject.module.get_course.name }}, {{ subject.module.get_course.level.name }}, {{ subject.module.get_course.type }}, {{ subject.module.get_course.profile }}</td>
							<td>{{ subject.module.get_sgroup.name }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	    
	    {% if practices %}
		    <h2>{% trans "Practice syllabuses" %}</h2>
		   	<table class="table_0">
		   		<thead>
		    		<tr>
		    			<td>{% trans "Practice" %}</td>
		    			<td class="semester">{% trans "Year/Semester" %}</td>
		    			<td class="unit">{% trans "Organizational unit" %}</td>
	                    <td class="course">{% trans "Course" %}</td>
	                    <td class="speciality">{% trans "Speciality" %}</td>
		    		</tr>
		    	</thead>
		    	<tbody>
			        {% for practice in practices %}
			        	<tr>
			        		<td><a class="link_0 link_copy" href="{% url apps.metacortex.views.syllabus_my.copy_practice_syllabus selected_year=selected_year subject_id=practice.id %}">{{ practice }}</a></td>
			        		<td>
			        			{% if ss.subject.is_annual %}
                                	{{ practice.semester }}/-
                                {% else %}
                                	{{ practice.get_year_semester.0|to_roman }}/{{ practice.semester }}
                                {% endif %}
			        		</td>
			        		<td>{{ practice.module.get_department }}</td>
							<td>{{ practice.module.get_course.name }}, {{ practice.module.get_course.level.name }}, {{ practice.module.get_course.type }}, {{ practice.module.get_course.profile }}</td>
							<td>{{ practice.module.get_sgroup.name }}</td>
			        	</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	{% else %}
		<ul class="infolist">
			<li>{% trans "List of syllabuses to copy is empty." %}</li>
		</ul>
	{% endif %}

{% endblock %}