{% extends "metacortex/base.html" %}
{% load syllabus i18n syjon %}

{% block page_title %} {% trans "My syllabuses" %} {% endblock %}

{% block breadcrumb %}
    {{ block.super }} 
    &raquo; <a href="{% url apps.metacortex.views.syllabus_my.show selected_year=selected_year %}">{% trans "My syllabuses" %}</a>
{% endblock %}

{% block content %}
	<h1>{% trans "My syllabuses for students who started education in year:" %} {{ selected_year.get_name_with_current_year }}</h1>
	
	<span class="header_15">{% trans "Choose year" %}:</span>
	{% for year in years %}
		{% if year|stringformat:"s" = selected_year|stringformat:"s" %}
			<a class="link_0 selected" href="{% url apps.metacortex.views.syllabus_my.show selected_year=year %}">{{ year }}</a>
		{% else %}
			<a class="link_0" href="{% url apps.metacortex.views.syllabus_my.show selected_year=year %}">{{ year }}</a>
		{% endif %}
	{% endfor %}
	<div class="spacer_10"></div>

    {% if perms.metacortex.change_syllabus or not request|is_read_only %}
        {% if selected_year.get_previous %}
            <table class="table_0">
                <tbody>
                    <tr>
                        <td>
                            <a class="link_0 link_copy" href="{% url apps.metacortex.views.syllabus_my.copy_from_last_year selected_year=selected_year %}">{% trans "Copy from last year" %}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        {% endif %}
    {% endif %}

	<div class="spacer_10"></div>
	
	{% if syllabuses %}
        <div id="s_show">
            {% for module, syllabus in syllabuses %}
                <table class="table_0 module">
                    <thead>
                        <tr>
                            <td class="left">{% trans "Module" %}</td>
                            <td class="column_3">{% trans "Organizational unit" %}</td>
                            <td class="column_2">{% trans "Course" %}</td>
                            <td class="column">{% trans "Speciality" %}</td>
                            <td class="actions">{% trans "Actions" %}</td>
                            <td class="visibility">{% trans "Public" %}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <td class="left">
                            {% if syllabus.sm %}
                                <a class="link_preview link_0" href="{% url apps.metacortex.views.syllabus_my.syllabus_module_show selected_year=selected_year syllabus_id=syllabus.sm.id %}">{{ module }}</a>
                            {% else %}
                               <span>{{ module }}</span>
                            {% endif %}
                        </td>
                        <td>{{ module.get_department }}</td>
                        <td>
                            {{ module.get_course.name }},<br/>
                            {% if not module.get_course.is_level_pg_q and not module.get_course.is_level_pg_fl and module.get_course.profile %}
                                {{ module.get_course.level.name }}, {{ module.get_course.type }}, {{ module.get_course.profile }}
                            {% else %}
                                {{ module.get_course.level.name }}, {{ module.get_course.type }}
                            {% endif %}
                        </td>
                        <td>{{ module.get_sgroup.name }}</td>
                        {% if syllabus.sm %}
                            <td class="actions">
                            	{% if not selected_year.read_only or request.user.is_superuser or perms.metacortex.change_syllabus %}
                            		<a class="link_edit link_0" href= "{% url apps.metacortex.views.syllabus_my.syllabus_module_edit selected_year=selected_year syllabus_id=syllabus.sm.id %}">{% trans "Edit" %}</a>
	                            	<a class="link_delete link_0" href= "{% url apps.metacortex.views.syllabus_my.syllabus_module_delete selected_year=selected_year syllabus_id=syllabus.sm.id %}">{% trans "Delete" %}</a>
                            	{% endif %}
                            	<a class="link_print link_0" href= "{% url apps.metacortex.views.syllabus_my.syllabus_module_print syllabus_id=syllabus.sm.id %}" target="_blank">{% trans "Print" %}</a>
                            </td>
                            <td>
                            	{% if syllabus.sm.is_published %}
                            		<span class="link_yes"></span>
                            	{% else %}
                            		<span class="link_no"></span>
                            	{% endif %}
                            </td>
                        {% else %}
                            <td class="actions">&#150;</td>
                            <td class="visibility">&#150;</td>
                        {% endif %}
                        
                    </tbody>
                </table>
                    
                {% if syllabus.ss %}    
                    <table class="table_0 subjects">
                        <thead>
                            <tr>
                                <td class="left">{% trans "Subject" %}</td>
                                <td class="column">{% trans "Type of classes" %}</td>
                                <td class="column">{% trans "Year/Semester" %}</td>
                                <td class="actions">{% trans "Actions" %}</td>
                                <td class="visibility">{% trans "Public" %}</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ss in syllabus.ss %}
                                <tr>
                                    <td class="left">
                                        {% if ss.subject.type.id == SUBJECT_TYPE_PRACTICE_ID %}
                                            <a class="link_preview link_0" href="{% url apps.metacortex.views.syllabus_my.syllabus_practice_show selected_year=selected_year syllabus_id=ss.id %}">{{ ss.subject.name }}</a>
                                        {% else %}
                                             <a class="link_preview link_0" href="{% url apps.metacortex.views.syllabus_my.syllabus_subject_show selected_year=selected_year syllabus_id=ss.id %}">
                                             	{{ ss.subject.name }}
                                             	{% if ss.additional_name %}
                                             		({{ ss.additional_name }})
                                             	{% endif %}
                                             </a>
                                        {% endif %}
                                    </td>
                                    <td class="column">
                                        <p>{{ ss.subject.type }}</p>
                                        <p>({{ ss.subject.hours }} {% trans "h" %})</p>
                                    </td>
                                    {% if ss.subject.is_annual %}
                                    	<td class="column">{{ ss.subject.semester }}/-</td>
                                    {% else %}
                                    	<td class="column">{{ ss.subject.get_year_semester.0|to_roman }}/{{ ss.subject.semester }}</td>
                                    {% endif %}
                                    <td class="actions">
                                        {% if ss.subject.type.id == SUBJECT_TYPE_PRACTICE_ID %}
                                    		{% if not selected_year.read_only or request.user.is_superuser or perms.metacortex.change_syllabus %}
	                                    		<a class="link_edit link_0" href="{% url apps.metacortex.views.syllabus_my.syllabus_practice_edit selected_year=selected_year syllabus_id=ss.id %}">{% trans "Edit" %}</a>
	                                    		<a class="link_delete link_0" href="{% url apps.metacortex.views.syllabus_my.syllabus_practice_delete selected_year=selected_year syllabus_id=ss.id %}">{% trans "Delete" %}</a>
	                                    	{% endif %}
	                                    	<a class="link_print link_0" href= "{% url apps.metacortex.views.syllabus_my.syllabus_practice_print syllabus_id=ss.id %}" target="_blank">{% trans "Print" %}</a>
                                        {% else %}
                                        	{% if not selected_year.read_only or request.user.is_superuser or perms.metacortex.change_syllabus %}
                                        		<a class="link_edit link_0" href="{% url apps.metacortex.views.syllabus_my.syllabus_subject_edit selected_year=selected_year syllabus_id=ss.id %}">{% trans "Edit" %}</a>
	                                        	<a class="link_copy link_0" href="{% url apps.metacortex.views.syllabus_my.syllabus_subject_copy_list selected_year=selected_year syllabus_id=ss.id %}">{% trans "Copy" %}</a>
	                                        	<a class="link_delete link_0" href="{% url apps.metacortex.views.syllabus_my.syllabus_subject_delete selected_year=selected_year syllabus_id=ss.id %}">{% trans "Delete" %}</a>
                                        	{% endif %}
                                        	<a class="link_print link_0" href= "{% url apps.metacortex.views.syllabus_my.syllabus_subject_print syllabus_id=ss.id %}" target="_blank">{% trans "Print" %}</a>
                                        {% endif %}
                                    </td>
                                    <td class="visibility">
                                    	{% if ss.is_published %}
                                    		<span class="link_yes"></span>
                                    	{% else %}
                                    		<span class="link_no"></span>
                                    	{% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                <div style="height: 15px"></div>
            {% endfor %}
        </div>
	{% else %}
	   <ul class="infolist">
	       <li>{% trans "No syllabus has been assigned to your profile. In order to add syllabus to your profile click on the 'Add syllabus' item in the menu." %}
	       	</li>
	   </ul>
	{% endif %}
   
{% endblock %}