{% extends "metacortex/syllabus_my/show.html" %}
{% load syllabus i18n %}

{% block head_subtitle %} {% trans "Practice syllabus" %} {% endblock %}

{% block breadcrumb %}
    {{ block.super }} 
    &raquo; <a href="{% url apps.metacortex.views.syllabus_my.syllabus_practice_show selected_year=selected_year syllabus_id=syllabus.id %}">{% trans "Practice syllabus" %}</a>
{% endblock %}

{% block content %}
	<div id="s_info">
		{% practice_info syllabus %}
	</div>
{% endblock %}