{% extends "metacortex/syllabus_my/show.html" %}
{% load syllabus i18n %}

{% block head_subtitle %} {% trans "Syllabus editing" %} {% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}syjon/js/ckeditor/ckeditor.js"></script>
{% endblock %}

{% block breadcrumb %}
    {{ block.super }} 
    &raquo; <a href="{% url apps.metacortex.views.syllabus_my.syllabus_subject_edit selected_year=selected_year syllabus_id=syllabus.id %}">{% trans "Syllabus editing" %}</a>
{% endblock %}

{% block content %}
	<h1>{% trans "Syllabus editing" %}</h1>

    <div id="s_edit">
        <table class="table_0 no_border no_cell_borders bold_labels">
            <tbody>
            	<tr>
            		<td class="label">{% trans "Course" %}:</td>
            		<td>{{ syllabus.subject.module.get_course }}</td>
            	</tr>
            	<tr>
            		<td class="label">{% trans "Subject" %}:</td>
            		<td>{{ syllabus.subject.name }}</td>
            	</tr>
            	<tr>
            		<td class="label">{% trans "Year/Semester" %}:</td>
            		<td>
            			{% if syllabus.subject.is_annual %}
	                    	{{ syllabus.subject.semester }}/-
	                   	{% else %}
	                    	{{ syllabus.subject.get_year_semester.0|to_roman }}/{{ syllabus.subject.semester }}
	                    {% endif %}
	            	</td>
            	</tr>
            	<tr>
            		<td class="label">{% trans "Number of hours" %}:</td>
            		<td>{{ syllabus.subject.hours }}</td>
            	</tr>
            	<tr>
            		<td class="label">{% trans "Type of classes" %}:</td>
            		<td>{{ syllabus.subject.type }}</td>
            	</tr>
        	</tbody>
        </table>
        <div class="spacer_5"></div>
        
        <form method="post" action="">
            {% csrf_token %}
            
            <table class="table_0">
                <tbody>
                    <tr>
                        <td>
                            <button class="button_2" type="submit" name="submit" value="save">{% trans "Save" %}</button>
                            <button class="button_2" type="submit" name="submit" value="save_and_edit">{% trans "Save and continue" %}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="spacer_5"></div>
            
            <table class="table_0">
                <thead>
                    <tr>
                        <td colspan="2">{% trans "Subject syllabus" %}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="label">
                        	<img src="{{ STATIC_URL }}syjon/images/icons/icon_help_4.png" class="tip tip-icon icon_help" title="{{ form.is_published.help_text }}" />
                        	{{ form.is_published.label }}: 
                        </td>
                        <td class="item">{{ form.is_published.errors }}{{ form.is_published }}</td>
                    </tr>
                    <tr>
                        <td class="label">
                        	<img src="{{ STATIC_URL }}syjon/images/icons/icon_help_4.png" class="tip tip-icon icon_help" title="{% trans 'Title of course or additional information regarding the course name' %}" />
                        	{% trans "Title or detailed course name" %}: 
                        </td>
                        <td class="item">{{ form.additional_name.errors }}{{ form.additional_name }}</td>
                    </tr>
                    <tr>
                        <td class="label">{% trans "Class level" %}: </td>
                        <td class="item">{{ form.subject_difficulty.errors }}{{ form.subject_difficulty }}</td>
                    </tr>
                    <tr>
                        <td class="label">{% trans "Evaluation form" %}:</td>
                        <td class="item">
                            <ul>
                                {% for x in assessment_forms %}
                                    <li>
                                        <input type="checkbox" id="assessment_form_{{ x.id }}" value="{{ x.id }}" name="assessment_forms" {{ x.checked }} /> 
                                        <label for="assessment_form_{{ x.id }}">{{ x.name }}</label>
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">{% trans "Teaching methods" %}:</td>
                        <td class="item">
                            {% regroup didactic_methods by course as course_didactic_methods %}
                            {% for course in course_didactic_methods %}
                                <ul class="grouper_headers">
                                    <li> {{ course.grouper }}
                                        <ul class="grouper_items horizontal">
                                            {% for minor in course.list %}
                                                <li>
                                                    <input type="checkbox" id="didactic_method_{{ minor.id }}" value="{{ minor.id }}" name="didactic_methods" {{ minor.checked }} /> 
                                                    <label for="didactic_method_{{ minor.id }}">{{ minor.name }}</label>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <div class="clear"></div>
                                    </li>
                                </ul>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td class="label">{{ form.initial_requirements.label }}: </td>
                        <td class="item">{{ form.initial_requirements.errors }}{{ form.initial_requirements }}</td>
                    </tr>
                    <tr>
                        <td class="label">{{ form.subjects_scope.label }}:</td>
                        <td class="item">{{ form.subjects_scope.errors }}{{ form.subjects_scope }}</td>
                    </tr>
                    <tr>
                        <td class="label">{{ form.assessment_conditions.label }}:</td>
                        <td class="item">{{ form.assessment_conditions.errors }}{{ form.assessment_conditions }}</td>
                    </tr>
                    <tr>
                        <td class="label">{{ form.literature.label }}:</td>
                        <td class="item">{{ form.literature.errors }}{{ form.literature }}</td>
                    </tr>
                    <tr>
                        <td class="label">{{ form.additional_information.label }}:</td>
                        <td class="item">{{ form.additional_information.errors }}{{ form.additional_information }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="spacer_5"></div>
            <h2>{{ form.module_learning_outcomes.label|safe }}</h2>
            {{ form.module_learning_outcomes.errors }}{{ form.module_learning_outcomes }}

            <div class="spacer_10"></div>
            <table class="table_0">
                <tr>
                    <td class="label">{{ form.learning_outcomes_verification.label }}:</td>
                    <td class="item">{{ form.learning_outcomes_verification.errors }}{{ form.learning_outcomes_verification }}</td>
                </tr>
            </table>

            <div class="spacer_5"></div>
              
            {% if syllabus.subject.ects %}
			     {% ects selected_year syllabus %}
			{% endif %}

            <div class="spacer_5"></div>
                    
            <table class="table_0">
                <tbody>
                    <tr>
                        <td>
                            <button class="button_2" type="submit" name="submit" value="save">{% trans "Save" %}</button>
                            <button class="button_2" type="submit" name="submit" value="save_and_edit">{% trans "Save and continue" %}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
{% endblock %}
