{% extends "metacortex/syllabus_my/show.html" %}
{% load syllabus i18n %}

{% block head_subtitle %} {% trans "Module syllabus" %} {% endblock %}

{% block breadcrumb %}
    {{ block.super }} 
    &raquo; <a href="{% url apps.metacortex.views.syllabus_my.syllabus_module_show selected_year=selected_year syllabus_id=syllabus.id %}">{% trans "Module syllabus" %}</a>
{% endblock %}

{% block content %}
	<div id="s_info">
    	{% module_info syllabus %}
    </div>
{% endblock %}