{% extends "base_0p.html" %}

{% load i18n %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" href="{{ STATIC_URL }}syjon/css/print.css" type="text/css" />
{% endblock %}

{% block body %}
	<h2>{% trans "Subject syllabus" %}</h2>
    <table>
        <tbody>
            {% if syllabus.subject.code %}
                <tr>
                    <td class="label">{% trans "Kod przedmiotu" %}:</td>
                    <td>{{ syllabus.subject.code|default:"&ndash;" }}</td>
                </tr>
            {% endif %}
            <tr>
                <td class="label">{% trans "Subject" %}:</td>
                <td><b>{{ syllabus.subject.name }}</b></td>
            </tr>
            <tr>
	            <td class="label">{% trans "Course" %}:</td>
	            <td>{{ syllabus.subject.module.get_course }}</td>
	        </tr>
            {% if syllabus.additional_name %}
                <tr>
                    <td class="label">{% trans "Title or detailed course name" %}:</td>
                    <td>{{ syllabus.additional_name|default:"&ndash;" }}</td>
                </tr>
            {% endif %}
            <tr>
                <td class="label">{% trans "Year/Semester" %}:</td>
                <td>
                	{% if syllabus.subject.is_annual %}
                		{{ syllabus.subject.semester }}/-
                	{% else %}
                		{{ syllabus.subject.get_year_semester.0 }}/{{ syllabus.subject.get_year_semester.1 }}
                	{% endif %}
                </td>
            </tr>
            <tr>
                <td class="label">{% trans "Number of hours" %}:</td>
                <td>{{ syllabus.subject.hours }}</td>
            </tr>
            <tr>
                <td class="label">{% trans "Teacher" %}:</td>
                <td>{{ syllabus.teacher }}</td>
            </tr>
            <tr>
                <td class="label">{% trans "Type of classes" %}:</td>
                <td>{{ syllabus.subject.type }}</td>
            </tr>
            <tr>
                <td class="label">{% trans "Type of assesment" %}:</td>
                <td>{{ syllabus.subject.assessment }}</td>
            </tr>

            {% if syllabus.subject.ects %}
                <tr>
                    <td class="label">{% trans "ECTS credits" %}:</td>
                    <td>{{ syllabus.get_ects }}</td>
                </tr>
                <tr>
                    <td class="label">{% trans "Godzinowe ekwiwalenty punktów ECTS (łączna liczba godzin w semestrze)" %}:</td>
                    <td>
                        {% if syllabus.get_equivalents %}
	                        <table class="table_s">
	                            {% for equivalent in syllabus.get_equivalents %}
                                    <tr>
                                        <td class="right top">{{ equivalent.hours }}</td>
                                        <td>{{ equivalent.ects.name }}</td>
                                    </tr>
	                            {% endfor %}
	                        </table>
						{% else %}
							&ndash;
						{% endif %}
                    </td>
                </tr>
            {% endif %}

            {% if syllabus.subject_difficulty %}
                <tr>
                    <td class="label">{% trans "Class level" %}:</td>
                    <td>{{ syllabus.subject_difficulty|default:"&ndash;" }}</td>
                </tr>
            {% endif %}

            {% if syllabus.initial_requirements %}
                <tr>
                    <td class="label">{% trans "Prerequisities" %}:</td>
                    <td>{{ syllabus.initial_requirements|safe|default:"&ndash;" }}</td>
                </tr>
            {% endif %}

            {% if syllabus.didactic_methods.all %}
                <tr>
                    <td class="label">{% trans "Teaching methods" %}:</td>
                    <td>
                        {% if syllabus.didactic_methods.all %}
                            <ul>
                                {% for didactic_method in syllabus.didactic_methods.all %}
                                    <li>{{ didactic_method }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            &ndash;
                        {% endif %}
                    </td>
                </tr>
            {% endif %}

            {% if syllabus.subjects_scope %}
                <tr>
                    <td class="label">{% trans "List of topics" %}:</td>
                    <td>{{ syllabus.subjects_scope|safe|default:"&ndash;" }}</td>
                </tr>
            {% endif %}

            {% if syllabus.assessment_forms.all %}
                <tr>
                    <td class="label">{% trans "Evaluation form" %}:</td>
                    <td>
                        {% if syllabus.assessment_forms.all %}
                            <ul>
                                {% for assessment_form in syllabus.assessment_forms.all %}
                                    <li>{{ assessment_form }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            &ndash;
                        {% endif %}
                    </td>
                </tr>
            {% endif %}

            {% if syllabus.assessment_conditions %}
                <tr>
                    <td class="label">{% trans "Assessment conditions" %}:</td>
                    <td>{{ syllabus.assessment_conditions|safe|default:"&ndash;" }}</td>
                </tr>
            {% endif %}

            {% if syllabus.module_learning_outcomes.all %}
                <tr>
                    <td class="label">{% trans "Module learning outcomes realized by subject" %}:</td>
                    <td class="item">
                        {% if syllabus.module_learning_outcomes.all %}
                            <table class="table_s">
                                {% for module_learning_outcome in syllabus.module_learning_outcomes.all %}
                                    <tr>
                                        <td class="center top">{{ module_learning_outcome.symbol }}</td>
                                        <td>{{ module_learning_outcome.description }}</td>
                                    </tr>
                                {% endfor %}
                            </table>

                        {% else %}
                            &ndash;
                        {% endif %}
                    </td>
                </tr>
            {% endif %}

            {% if syllabus.learning_outcomes_verification %}
                <tr>
                    <td class="label">{% trans "Sposób weryfikacji efektów kształcenia" %}:</td>
                    <td class="item">{% if syllabus.learning_outcomes_verification %} {{ syllabus.learning_outcomes_verification|safe }} {% else %} &ndash; {% endif %}</td>
                </tr>
            {% endif %}

            {% if syllabus.literature %}
                <tr>
                    <td class="label">{% trans "Reading list" %}:</td>
                    <td>{{ syllabus.literature|safe|default:"&ndash;" }}</td>
                </tr>
            {% endif %}

            {% if syllabus.additional_information %}
                <tr>
                    <td class="label">{% trans "Additional remarks" %}:</td>
                    <td>{{ syllabus.additional_information|safe|default:"&ndash;" }}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
