{% extends "metacortex/syllabus_my/show.html" %}
{% load syllabus i18n %}

{% block head_subtitle %} {% trans "Syllabus editing" %} {% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}syjon/js/ckeditor/ckeditor.js"></script>
{% endblock %}

{% block breadcrumb %}
    {{ block.super }} 
    &raquo; <a href="{% url apps.metacortex.views.syllabus_my.syllabus_practice_edit selected_year=selected_year syllabus_id=syllabus.id %}">{% trans "Syllabus editing" %}</a>
{% endblock %}

{% block content %}
    <div id="s_edit">
    	<h1>{% trans "Syllabus editing" %}</h1>
        <table class="table_0 no_border no_cell_borders bold_labels">
            <tbody>
            	<tr>
            		<td class="label">{% trans "Course" %}:</td>
            		<td>{{ syllabus.subject.module.get_course }}</td>
            	</tr>
            	<tr>
            		<td class="label">{% trans "Subject" %}:</td>
            		<td>{{ syllabus.subject.name }}</td>
            	</tr>
            	<tr>
            		<td class="label">{% trans "Year/Semester" %}:</td>
            		<td>
            			{% if syllabus.subject.is_annual %}
	                    	{{ syllabus.subject.semester }}/-
	                   	{% else %}
	                    	{{ syllabus.subject.get_year_semester.0 }}/{{ syllabus.subject.get_year_semester.1 }}
	                    {% endif %}
            		</td>
            	</tr>
            	<tr>
            		<td class="label">{% trans "Number of hours" %}:</td>
            		<td>{{ syllabus.subject.hours }}</td>
            	</tr>
            	<tr>
            		<td class="label">{% trans "Type of classes" %}:</td>
            		<td>{{ syllabus.subject.type }}</td>
            	</tr>
            </tbody>
        </table>
        <div class="spacer_5"></div>
        
        <form method="post" action="">
            {% csrf_token %}
            
            <table class="table_0">
                <tbody>
                    <tr>
                        <td>
                            <button class="button_2" type="submit" name="submit" value="save">{% trans "Save" %}</button>
                            <button class="button_2" type="submit" name="submit" value="save_and_edit">{% trans "Save and continue" %}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="spacer_5"></div>
            
            <table class="table_0">
                <thead>
                    <tr>
                        <td colspan="2">{% trans "Practice syllabus" %}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="label">{{ form.is_published.label }}: </td>
                        <td class="item">{{ form.is_published.errors }}{{ form.is_published }}</td>
                    </tr>
                    <tr>
                        <td class="label">{{ form.type.label }}: </td>
                        <td class="item">{{ form.type.errors }}{{ form.type }}</td>
                    </tr>
                    <tr>
                        <td class="label">{{ form.description.label }}: </td>
                        <td class="item">{{ form.description.errors }}{{ form.description }}</td>
                    </tr>
                    <tr>
                        <td class="label">{{ form.additional_information.label }}: </td>
                        <td class="item">{{ form.additional_information.errors }}{{ form.additional_information }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="spacer_5"></div>
            
{# Efekty kształcenia #}
                   
            <table class="table_0">
                <tbody>
                    <tr>
                        <td>
                            <button class="button_2" type="submit" name="submit" value="save">{% trans "Save" %}</button>
                            <button class="button_2" type="submit" name="submit" value="save_and_edit">{% trans "Save and continue" %}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
{% endblock %}
