{% extends "metacortex/syllabus_my/show.html" %}
{% load syllabus pagination i18n %}

{% block head_subtitle %} {% trans "Syllabus copying" %} {% endblock %}

{% block breadcrumb %}
    {{ block.super }} 
    &raquo; <a href="{% url apps.metacortex.views.syllabus_my.syllabus_subject_copy_list selected_year=selected_year syllabus_id=syllabus.id %}">{% trans "Syllabus copying" %}</a>
{% endblock %}

{% block content %}
    <div id="s_show">
        <h2>{% trans "Copy to..." %}</h2>
        <table class="table_0">
            <thead>
                <tr>
                    <td class="left">{% trans "Subject" %}</td>
                    <td class="column">{% trans "Teacher" %}</td>
                    <td class="column">{% trans "Organizational unit" %}</td>
                    <td class="column">{% trans "Course" %}</td>
                    <td class="column">{% trans "Speciality" %}</td>
                    <td class="column">{% trans "Type of classes" %}</td>
                    <td class="column">{% trans "Year/semester" %}</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="left">{{ syllabus.subject.name }}</td>
                    <td class="column">{{ syllabus.teacher }}</td>
                    <td class="column">{{ syllabus.subject.module.get_department|default:"" }}</td>
                    <td class="column">{{ syllabus.subject.module.get_course }}</td>
                    <td class="column">{{ syllabus.subject.module.get_sgroup.name }}</td>
                    <td class="column">
                    	<p>{{ syllabus.subject.type }}</p>
                    	<p>({{ syllabus.subject.hours }} godz.)</p>
                    </td>
                    <td class="column">
                    	{% if syllabus.subject.is_annual %}
                    		{{ syllabus.subject.semester }}/-
                    	{% else %}
                    		{{ syllabus.subject.get_year_semester.0|to_roman }}/{{ syllabus.subject.semester }}
                    	{% endif %}
                    </td>
                </tr>
        </tbody>
        </table>
        <div class="spacer_10"></div>
        
        <h2>{% trans "Copy from..." %}</h2>
        
		<form id="search" action="" method="post">
			{% csrf_token %}
		    {{ search_form.name }}
		    <button class="button_2" type="submit">{% trans "Search" %}</button>
		</form>
		<div class="spacer_10"></div>
        
        {% if syllabusses %}
	        <table class="table_0">
	            <thead>
	                <tr>
	                    <td class="left">{% trans "Subject" %}</td>
	                    <td class="column">{% trans "Teacher" %}</td>
	                    <td class="column">{% trans "Organizational unit" %}</td>
	                    <td class="column">{% trans "Course" %}</td>
	                    <td class="column">{% trans "Speciality" %}</td>
	                    <td class="column">{% trans "Type of classes" %}</td>
	                    <td class="column">{% trans "Year/semester" %}</td>
	                </tr>
	            </thead>
	            <tbody>
	                {% for ss in syllabusses.object_list %}
	                    <tr>
	                        <td class="left">
	                        	<a class="link_0 link_copy" href="{% url apps.metacortex.views.metacortex.confirm selected_year=selected_year syllabus_to_id=syllabus.id syllabus_from_id=ss.id %}?yes={% url apps.metacortex.views.syllabus_my.syllabus_subject_copy selected_year=selected_year syllabus_to_id=syllabus.id syllabus_from_id=ss.id %}&no={% url apps.metacortex.views.syllabus_my.syllabus_subject_copy_list selected_year=selected_year syllabus_id=syllabus.id %}">
	                        		{{ ss.subject.name }}
	                        		{% if ss.additional_name %}
	                        			({{ ss.additional_name }})
	                        		{% endif %}
	                        	</a>
	                        </td>
	                        <td class="column">{{ ss.teacher }}</td>
	                        <td class="column">{{ ss.subject.module.get_department|default:"" }}</td>
	                        <td class="column">{{ ss.subject.module.get_course }}</td>
	                        <td class="column">{{ ss.subject.module.get_sgroup.name }}</td>
	                        <td class="column">
	                        	<p>{{ ss.subject.type }}</p>
	                            <p>({{ ss.subject.hours }} godz.)</p>
	                        </td>
	                        <td class="column">
	                        	{% if ss.subject.is_annual %}
	                        		{{ ss.subject.semester }}/-
	                        	{% else %}
	                        		{{ ss.subject.get_year_semester.0|to_roman }}/{{ ss.subject.semester }}
	                        	{% endif %}
	                        </td>
	                    </tr>
	                {% endfor %}
	            </tbody>
	        </table>
	        <div class="spacer_10"></div>
	        
	        {% paginator syllabusses %}
	    {% else %}
	    	<ul class="infolist">
	    		<li>{% trans "List of syllabuses is empty" %}.</li>
	    	</ul>
		{% endif %}
    </div>
{% endblock %}
