{% extends "base_0p.html" %}

{% load i18n syllabus %}

{% block css %}
	<link rel="stylesheet" href="{{ STATIC_URL }}syjon/css/print.css" type="text/css" />
{% endblock %}


{% block body %}
<h2>{% trans "Module syllabus" %}</h2>
<table>
    <tbody>
        {% if syllabus.module.code %}
            <tr>
                <td class="label">{% trans "Kod modułu" %}:</td>
                <td>{{ syllabus.module.code }}</td>
            </tr>
        {% endif %}
        <tr>
            <td class="label">{% trans "Module name" %}:</td>
            <td><b>{{ syllabus.module.name }}</b></td>
        </tr>
        <tr>
            <td class="label">{% trans "Module type" %}:</td>
            <td>{{ syllabus.module.type|default:"&ndash;" }}</td>
        </tr>
        <tr>
            <td class="label">{% trans "Course" %}:</td>
            <td>{{ syllabus.module.get_course }}</td>
        </tr>
        {% if syllabus.unit_source %}
            <tr>
                <td class="label">{% trans "Source unit (the one that the module is offered by)" %}:</td>
                <td>{{ syllabus.unit_source|default:"&ndash;" }}</td>
            </tr>
        {% endif %}
        {% if syllabus.unit_target %}
            <tr>
                <td class="label">{% trans "Target unit (the one that the module is offered for)" %}:</td>
                <td>{{ syllabus.unit_target|default:"&ndash;" }}</td>
            </tr>
        {% endif %}
                {% if syllabus.lecture_languages.all %}
            <tr>
                <td class="label">{% trans "Language" %}:</td>
                <td class="item">
                    {% if syllabus.lecture_languages.all %}
                        <ul>
                            {% for ll in syllabus.lecture_languages.all %}
                                <li>{{ ll }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        &ndash;
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        <tr>
            <td class="label">
                <span>Liczba godzin - G</span><br>
                <span>Forma zajęć - Z</span><br>
                <span>Punkty ECTS - E</span>
            </td>
            <td class="item">{% module_details_table syllabus.module %}</td>
        </tr>
        {% if syllabus.coordinator %}
            <tr>
                <td class="label">{% trans "Module coordinator" %}:</td>
                <td>{{ syllabus.coordinator|default:"&ndash;" }}</td>
            </tr>
        {% endif %}
        {% if syllabus.module_description %}
            <tr>
                <td class="label">{% trans "Module description" %}:</td>
                <td>{{ syllabus.module_description|safe|default:"&ndash;" }}</td>
            </tr>
        {% endif %}
        {% if syllabus.additional_information %}
            <tr>
                <td class="label">{% trans "Additional remarks" %}:</td>
                <td>{{ syllabus.additional_information|safe|default:"&ndash;" }}</td>
            </tr>
        {% endif %}
        {% if syllabus.module.modulelearningoutcome_set.all %}
            <tr>
                <td class="label">{% trans "Learning outcomes for module" %}:</td>
                <td>
                    {% if syllabus.module.modulelearningoutcome_set.all %}
                        <table class="table_s">
                            {% for x in syllabus.module.modulelearningoutcome_set.all %}
                                <tr>
                                    <td class="center top">{{ x.symbol }}</td>
                                    <td>{{ x.description }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        &ndash;
                    {% endif %}
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}
