{% extends "metacortex/syllabus_my/show.html" %}
{% load syllabus i18n %}

{% block head_subtitle %} {% trans "Subject syllabus" %} {% endblock %}

{% block breadcrumb %}
    {{ block.super }} 
    &raquo; <a href="{% url apps.metacortex.views.syllabus_my.syllabus_subject_show selected_year=selected_year syllabus_id=syllabus.id %}">{% trans "Subject syllabus" %}</a>
{% endblock %}

{% block content %}
	<div id="s_info">
		{% subject_info syllabus %}
	</div>
{% endblock %}