{% extends "base_0p.html" %}

{% load i18n %}

{% block css %}
	<link rel="stylesheet" href="{{ STATIC_URL }}syjon/css/print.css" type="text/css" />
{% endblock %}


{% block body %}
	<h2>{% trans "Practice syllabus" %}</h2>
    <table class="table_0">
        <tbody>
            <tr>
                <td class="label">{% trans "Subject" %}:</td>
                <td class="item">{{ syllabus.subject.name }}</td>
            </tr>
            <tr>
	            <td class="label">{% trans "Course" %}:</td>
	            <td>{{ syllabus.subject.module.get_course }}</td>
	        </tr>
            <tr>
                <td class="label">{% trans "Year/Semester" %}:</td>
                <td>
                	{% if syllabus.subject.is_annual %}
                		{{ syllabus.subject.semester }}/-
                	{% else %}
                		{{ syllabus.subject.get_year_semester.0 }}/{{ syllabus.subject.get_year_semester.1 }}
                	{% endif %}
                </td>
            </tr>
            <tr>
                <td class="label">{% trans "Number of hours" %}:</td>
                <td class="item">{{ syllabus.subject.hours }}</td>
            </tr>
            {% if syllabus.type %}
                <tr>
                    <td class="label">{% trans "Practice type" %}:</td>
                    <td class="item">{{ syllabus.type|default:'&ndash;' }}</td>
                </tr>
            {% endif %}
            <tr>
                <td class="label">{% trans "Practice coordinator" %}:</td>
                <td class="item">{{ syllabus.teacher|default:'&ndash;' }}</td>
            </tr>
            {% if syllabus.description %}
                <tr>
                    <td class="label">{% trans "Practice description" %}:</td>
                    <td class="item">{{ syllabus.description|safe|default:'&ndash;' }}</td>
                </tr>
            {% endif %}
            {% if syllabus.additional_information %}
                <tr>
                    <td class="label">{% trans "Additional remarks" %}:</td>
                    <td class="item">{{ syllabus.additional_information|safe|default:'&ndash;' }}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
