{% extends "column_1.html" %}
{% load i18n %}

{% block css %} 
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}metacortex/css/style.css" type="text/css" />
{% endblock %}

{% block horizontal_menu_items %}
    <li><a href="{% url apps.metacortex.views.search_engine.syllabus_search_classic %}">{% trans "Syllabus search engine" %}</a></li>
{% endblock %}

{% block footer_version %} Metacortex {{ VERSION_METACORTEX }} {% endblock %}