{% extends "metacortex/search_engine/base.html" %}
{% load syllabus pagination i18n %}

{% block page_title %} {% trans "Syllabus search engine" %} {% endblock %}

{% block content %}
    {% block search_engine %}
    	<h1>{% trans "Syllabus search engine" %}</h1>

        <ul class="infolist">
            <li>{% trans "Search results may be made more specific by separating search phrases with commas" %}.</li>
        </ul>
        <div class="spacer_5"></div>

        <div id="classic_search_engine">
            <form method="post" action="{% url apps.metacortex.views.search_engine.syllabus_search_classic %}">
                {% csrf_token %}
                <div id="classic_search">
                    {{ form.q }}
                    <button class="button_2" type="submit">{% trans "Search" %}</button>
                    {{ form.syllabus_type }}
                </div>
            </form>
        </div>
        
        {% if syllabusses %}
	        {% syllabusses_list syllabusses %}
	        {% paginator syllabusses %}
        {% else%}
			{% if form_was_sent %}
			    <ul class="infolist">
			        <li>{% trans "No results matching the query" %}</li>
			    </ul>
			{% endif %}
		{% endif %}
		
    {% endblock %}
{% endblock %}
        
