{% extends "column_1.html" %}
{% load syllabus i18n %}

{% block page_title %} {% trans "Practice syllabus" %} {% endblock %}

{% block css %} 
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}metacortex/css/style.css" type="text/css" />
{% endblock %}

{% block content %}
    {% if syllabus.subject.module.syllabusmodule.is_published and syllabus.subject.module.syllabusmodule.is_active %}
        {% module_info syllabus.subject.module.syllabusmodule %}
        <div class="spacer_5"></div>
    {% else %}
        <ul class="infolist">
            <li>
            	{% trans "Module syllabus has not been published" %}
            </li>
        </ul>
    {% endif %}
    {% practice_info syllabus %}
{% endblock %}


        
