{% extends "column_1.html" %}
{% load i18n syjon %}

{% block page_title %} {% trans "Syllabuses" %} {% endblock %}

{% block css %} 
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}metacortex/css/style.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}syjon/ext/tiptip/tipTip.css" />
{% endblock %}

{% block js %}
    {{ block.super }}
	<script type="text/javascript" src="{{ STATIC_URL }}syjon/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}syjon/ext/tiptip/jquery.tipTip.minified.js"></script>
    <script type="text/javascript">
	    $(function(){
			$(".tip").tipTip({maxWidth: "auto", edgeOffset: 10});
		});
    </script>
{% endblock %}

{% block horizontal_menu_items %}
    {% if perms.metacortex.change_syllabus or not request|is_read_only %}
    <li><a href="{% url apps.metacortex.views.syllabus_add.select_course %}">{% trans "Add syllabus" %}</a></li>
    {% endif %}
    <li><a href="{% url apps.metacortex.views.syllabus_my.show %}">{% trans "My syllabuses" %}</a></li>
    <li><a href="{% url apps.metacortex.views.metacortex.show_help %}">{% trans "Help topics" %}</a></li>
{% endblock %}

{% block breadcrumb %} 
    {{ block.super }}
    <a href="{% url apps.metacortex.views.syllabus_my.show %}">{% trans "Syllabuses" %}</a>
{% endblock %}
        
{% block content %}
    {% if news %}
        {% for n in news %}
            <div class="news">
                <p class="date">{{ n.date }}</p>
                <p class="content">{{ n.content|safe|linebreaksbr }}</p>
            </div>
        {% endfor %}
    {% else %}
        <ul class="infolist">
            <li>{% trans "News list is empty" %}.</li>
        </ul>
    {% endif %}
{% endblock %}

{% block footer_version %} Metacortex {{ VERSION_METACORTEX }} {% endblock %}