{% load i18n syllabus %}

<div class="print_format">
	<h1>{% trans "Practice syllabus" %}</h1>

	<table class="table_0">
		<tbody>
			<tr>
				<td>
					<a class="link_print link_0" href= "{% url apps.metacortex.views.syllabus_my.syllabus_practice_print syllabus_id=syllabus.id %}" target="_blank">{% trans "Print" %}</a>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="spacer_10"></div>

    <table class="table_0">
        <tbody>
            <tr>
                <td class="label">{% trans "Subject" %}:</td>
                <td class="item"><b>{{ syllabus.subject.name }}</b></td>
            </tr>
            <tr>
                <td class="label">{% trans "Course" %}:</td>
                <td class="item">{{ syllabus.subject.module.get_course }}</td>
            </tr>
            <tr>
                <td class="label">{% trans "Year/Semester" %}:</td>
                <td class="item">
                	{% if syllabus.subject.is_annual %}
                    	{{ syllabus.subject.semester }}/-
                   	{% else %}
                    	{{ syllabus.subject.get_year_semester.0|to_roman }}/{{ syllabus.subject.semester }}
                    {% endif %}
				</td>
            </tr>
            <tr>
                <td class="label">{% trans "Semester" %}:</td>
                <td class="item">{{ syllabus.subject.get_year_semester.1 }}</td>
            </tr>
            <tr>
                <td class="label">{% trans "Number of hours" %}:</td>
                <td class="item">{{ syllabus.subject.hours }}</td>
            </tr>
            {% if syllabus.type %}
                <tr>
                    <td class="label">{% trans "Practice type" %}:</td>
                    <td class="item">{{ syllabus.type|default:"&ndash;" }}</td>
                </tr>
            {% endif %}
            <tr>
                <td class="label">{% trans "Practice coordinator" %}:</td>
                <td class="item">{{ syllabus.teacher }}</td>
            </tr>
            {% if syllabus.description %}
                <tr>
                    <td class="label">{% trans "Practice description" %}:</td>
                    <td class="item">{{ syllabus.description|safe|default:"&ndash;" }}</td>
                </tr>
            {% endif %}
            {% if syllabus.additional_information %}
                <tr>
                    <td class="label">{% trans "Additional remarks" %}:</td>
                    <td class="item">{{ syllabus.additional_information|safe|default:"&ndash;" }}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>