{% load i18n syllabus %}

<div class="print_format">
	<h1>{% trans "Subject syllabus" %}</h1>
	<table class="table_0">
		<tbody>
			<tr>
				<td>
					<a class="link_print link_0" href= "{% url apps.metacortex.views.syllabus_my.syllabus_subject_print syllabus_id=syllabus.id %}" target="_blank">{% trans "Print" %}</a>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="spacer_10"></div>

    <table class="table_0">
        <tbody>
            <tr>
                <td class="label">{% trans "Subject" %}:</td>
                <td class="item"><b>{{ syllabus.subject.name }}</b></td>
            </tr>
            <tr>
                <td class="label">{% trans "Course" %}:</td>
                <td class="item">{{ syllabus.subject.module.get_course }}</td>
            </tr>
            {% if syllabus.additional_name %}
                <tr>
                    <td class="label">{% trans "Title or detailed course name" %}:</td>
                    <td class="item">{% if syllabus.additional_name %} {{ syllabus.additional_name }} {% else %} &ndash; {% endif %}</td>
                </tr>
            {% endif %}
            {% if syllabus.subject.code %}
                <tr>
                    <td class="label">{% trans "Kod przedmiotu" %}:</td>
                    <td class="item">{{ syllabus.subject.code|default:" &ndash;" }}</td>
                </tr>
            {% endif %}
            <tr>
                <td class="label">{% trans "Year/Semester" %}:</td>
                <td class="item">
                	{% if syllabus.subject.is_annual %}
                    	{{ syllabus.subject.semester }}/-
                   	{% else %}
                    	{{ syllabus.subject.get_year_semester.0|to_roman }}/{{ syllabus.subject.semester }}
                    {% endif %}
				</td>
            </tr>
            <tr>
                <td class="label">{% trans "Number of hours" %}:</td>
                <td class="item">{{ syllabus.subject.hours }}</td>
            </tr>
            <tr>
                <td class="label">{% trans "Teacher" %}:</td>
                <td class="item">{{ syllabus.teacher }}</td>
            </tr>
            <tr>
                <td class="label">{% trans "Type of classes" %}:</td>
                <td class="item">{{ syllabus.subject.type }}</td>
            </tr>
            <tr>
                <td class="label">{% trans "Type of assessment" %}:</td>
                <td class="item">{{ syllabus.subject.assessment }}</td>
            </tr>
            {% if syllabus.subject.ects %}
                <tr>
                    <td class="label">{% trans "ECTS credits" %}:</td>
                    <td class="item">{{ syllabus.get_ects }}</td>
                </tr>
                <tr>
                    <td class="label">{% trans "Godzinowe ekwiwalenty punktów ECTS (łączna liczba godzin w semestrze)" %}:</td>
                    <td class="item">
                        <table class="table_s">
                            <tbody>
                                {% for equivalent in syllabus.get_equivalents %}
                                    <tr>
                                        <td class="right top">{{ equivalent.hours }}</td>
                                        <td>{{ equivalent.ects.name }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            {% endif %}

            {% if syllabus.subject_difficulty %}
                <tr>
                    <td class="label">{% trans "Class level" %}:</td>
                    <td class="item">{% if syllabus.subject_difficulty %} {{ syllabus.subject_difficulty }} {% else %} &ndash; {% endif %}</td>
                </tr>
            {% endif %}

            {% if syllabus.initial_requirements %}
                <tr>
                    <td class="label">{% trans "Prerequisities" %}:</td>
                    <td class="item">{% if syllabus.initial_requirements %} {{ syllabus.initial_requirements|safe }} {% else %} &ndash; {% endif %}</td>
                </tr>
            {% endif %}

            {% if syllabus.didactic_methods.all %}
                <tr>
                    <td class="label">{% trans "Teaching methods" %}:</td>
                    <td class="item">
                    <ul class="square">
                        {% for didactic_method in syllabus.didactic_methods.all %}
                            <li>{{ didactic_method }}</li>
                        {% endfor %}
                    </ul></td>
                </tr>
            {% endif %}

            {% if syllabus.subjects_scope %}
                <tr>
                    <td class="label">{% trans "List of topics" %}:</td>
                    <td class="item">{% if syllabus.subjects_scope %} {{ syllabus.subjects_scope|safe }} {% else %} &ndash; {% endif %}</td>
                </tr>
            {% endif %}

            {% if syllabus.assessment_forms.all %}
                <tr>
                    <td class="label">{% trans "Evaluation form" %}:</td>
                    <td class="item">
                    <ul class="square">
                        {% for assessment_form in syllabus.assessment_forms.all %}
                            <li>{{ assessment_form }}</li>
                        {% endfor %}
                    </ul></td>
                </tr>
            {% endif %}

            {% if syllabus.assessment_conditions %}
                <tr>
                    <td class="label">{% trans "Assessment conditions" %}:</td>
                    <td class="item">{% if syllabus.assessment_conditions %} {{ syllabus.assessment_conditions|safe }} {% else %} &ndash; {% endif %}</td>
                </tr>
            {% endif %}

            {% if syllabus.module_learning_outcomes.all %}
                <tr>
                    <td class="label">{% trans "Module learning outcomes realized by subject" %}:</td>
                    <td class="item">
                        {% if syllabus.module_learning_outcomes.all %}
                            <table class="table_s">
                                {% for module_learning_outcome in syllabus.module_learning_outcomes.all %}
                                    <tr>
                                        <td class="center top">{{ module_learning_outcome.symbol }}</td>
                                        <td>{{ module_learning_outcome.description }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% else %}
                            &ndash;
                        {% endif %}
                    </td>
                </tr>
            {% endif %}

            {% if syllabus.learning_outcomes_verification %}
                <tr>
                    <td class="label">{% trans "Sposób weryfikacji efektów kształcenia" %}:</td>
                    <td class="item">{% if syllabus.learning_outcomes_verification %} {{ syllabus.learning_outcomes_verification|safe }} {% else %} &ndash; {% endif %}</td>
                </tr>
            {% endif %}

            {% if syllabus.literature %}
                <tr>
                    <td class="label">{% trans "Reading list" %}:</td>
                    <td class="item">{% if syllabus.literature %} {{ syllabus.literature|safe }} {% else %} &ndash; {% endif %}</td>
                </tr>
            {% endif %}

            {% if syllabus.additional_information %}
                <tr>
                    <td class="label">{% trans "Additional remarks" %}:</td>
                    <td class="item">{% if syllabus.additional_information %} {{ syllabus.additional_information|safe }} {% else %} &ndash; {% endif %}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>