{% load i18n syllabus %}

<div class="print_format">
	<h1>{% trans "Module syllabus" %}</h1>
	<table class="table_0">
		<tbody>
			<tr>
				<td>
					<a class="link_print link_0" href= "{% url apps.metacortex.views.syllabus_my.syllabus_module_print syllabus_id=syllabus.id %}" target="_blank">{% trans "Print" %}</a>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="spacer_10"></div>	
	
    <table class="table_0">
        <tbody>
            <tr>
                <td class="label">{% trans "Module" %}:</td>
                <td class="item"><b>{{ syllabus.module.name }}</b></td>
            </tr>
            <tr>
                <td class="label">{% trans "Module type" %}:</td>
                <td class="item">{{ syllabus.module.type|default:"&ndash;" }}</td>
            </tr>
            <tr>
                <td class="label">{% trans "Course" %}:</td>
                <td class="item">{{ syllabus.module.get_course }}</td>
            </tr>
            {% if syllabus.module.code %}
                <tr>
                    <td class="label">{% trans "Kod modułu" %}:</td>
                    <td class="item">{{ syllabus.module.code|default:"&ndash;" }}</td>
                </tr>
            {% endif %}
            {% if syllabus.unit_source %}
                <tr>
                    <td class="label">{% trans "Source unit (the one that the module is offered by)" %}:</td>
                    <td class="item">{{ syllabus.unit_source|default:"&ndash;" }}</td>
                </tr>
            {% endif %}
            {% if syllabus.unit_target %}
                <tr>
                    <td class="label">{% trans "Target unit (the one that the module is offered for)" %}:</td>
                    <td class="item">{{ syllabus.unit_target|default:"&ndash;" }}</td>
                </tr>
            {% endif %}
            <tr>
                <td class="label">
                    <span>Liczba godzin - G</span><br>
                    <span>Forma zajęć - Z</span><br>
                    <span>Punkty ECTS - E</span>
                </td>
                <td class="item">{% module_details_table syllabus.module %}</td>
            </tr>
            {% if syllabus.lecture_languages.all %}
                <tr>
                    <td class="label">{% trans "Language" %}:</td>
                    <td class="item">
                        {% if syllabus.lecture_languages.all %}
                            <ul class="square">
                                {% for ll in syllabus.lecture_languages.all %}
                                    <li>{{ll}}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            &ndash;
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
            {% if syllabus.coordinator %}
                <tr>
                    <td class="label">{% trans "Module coordinator" %}:</td>
                    <td class="item">{{ syllabus.coordinator|default:"&ndash;" }}</td>
                </tr>
            {% endif %}
            {% if syllabus.module_description %}
                <tr>
                    <td class="label">{% trans "Description" %}:</td>
                    <td class="item">{{ syllabus.module_description|safe|default:"&ndash;" }}</td>
                </tr>
            {% endif %}
            {% if syllabus.additional_information %}
                <tr>
                    <td class="label">{% trans "Additional remarks" %}:</td>
                    <td class="item">{{ syllabus.additional_information|safe|default:"&ndash;" }}</td>
                </tr>
            {% endif %}
            {% if syllabus.module.modulelearningoutcome_set.all %}
                <tr>
                    <td class="label">{% trans "Module learning outcomes" %}:</td>
                    <td class="item">
                        {% if syllabus.module.modulelearningoutcome_set.all %}
                            <table class="table_s">
                                {% for x in syllabus.module.modulelearningoutcome_set.all %}
                                    <tr>
                                        <td class="center top">{{ x.symbol }}</td>
                                        <td>{{ x.description }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% else %}
                            &ndash;
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>